<html>

<head>
    <title>Django Wrapper | FusionCharts</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
    {% load static %}
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <script src="/static/assets/script/jquery.min.js"></script>
    <script src="/static/assets/script/popper.min.js"></script>
    <script src="/static/assets/script/bootstrap.min.js"></script>
</head>

<body>
    <div class="row  bg-info">
        <div class="col-md-8">
            <h2 style="color:white;">Employee Management System</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-end ">
            <a class="nav-link" style="color:white;" title="Home Page" href="/">HOME</a>
        </div>
    </div>
    <div class="container" style="width:35%;margin-top: 90px;">
        <div id="chart"></div>
        {{ output|safe }}
    </div>
</body>

</html>
