<html>

<head>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <script src="/static/assets/script/jquery.min.js"></script>
    <script src="/static/assets/script/popper.min.js"></script>
    <script src="/static/assets/script/bootstrap.min.js"></script>
</head>

<body>
    <div class="row  bg-info">
        <div class="col-md-6">
            <h2 style="color:white;">Employee Management System</h2>
        </div>

        <div class="col-md-6 menubar d-flex justify-content-end ">
            <nav class="navbar navbar-expand ">
                <ul class="navbar-nav navi-bar">
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="create employee details"
                            href="add/">ADD</a></li>
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="show employee details"
                            href="show/">SHOW</a></li>
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="update employee details"
                            href="show/">UPDATE</a></li>
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="delete employee details"
                            href="show/">DELETE</a></li>
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="search employee details"
                            href="search/"><i class="fa fa-search" title="Search"></i></a></li>
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="file upload" href="upload/"><i
                                class="fa fa-upload" title="Upload File"></i></a></li>
                    <li class="nav-item"><a class="nav-link" style="color:white;" title="chart" href="chart/"><i
                                class="fa fa-bar-chart" title="chart"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>