<html>

<head>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <script src="/static/assets/script/jquery.min.js"></script>
    <script src="/static/assets/script/popper.min.js"></script>
    <script src="/static/assets/script/bootstrap.min.js"></script>
</head>

<style>
    .label {
        margin-left: 40%;
        margin: 15%;
        color: azure;
        padding-left: 200px;
    }
</style>
</head>

<body style="background-image: url(/static/assets/images/black.jpeg);">
<div class="label">
    <span style="font-size: 35px"> SEARCH ID HERE</span><br>
    <input type="text" placeholder="enter the id"><br><br>

</div>
<div>
    <a style="margin-top:-375px; margin-left:390px; background-color: azure" class="btn btn-sm"
        href="/edit" type="button">Edit Employee Details</a>
    <!-- <a style="margin-top:-375px; background-color: azure; padding-right: 20px" class="btn btn-sm " href="/show"
        type="button">DELETE</a> -->
</div>
</body>

</html>