<html>

<head>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <script src="/static/assets/script/jquery.min.js"></script>
    <script src="/static/assets/script/popper.min.js"></script>
    <script src="/static/assets/script/bootstrap.min.js"></script>
</head>


<body>
    <div class="row  bg-info">
        <div class="col-md-8">
            <h2 style="color:white;">Employee Management System</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-end ">
            <a class="nav-link" style="color:white;" title="Home Page" href="/">HOME</a>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" id="employeeCode">Employee Id</th>
                    <th scope="col" id="name">First Name</th>
                    <th scope="col" id="emailId">Email Id</th>
                    <th scope="col" id="contactNo">Contact Number</th>
                    <th scope="col" id="edit">Edit</th>
                    <th scope="col" id="del">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for e in employee %}
                <tr>
                    <td>{{e.employee_code}}</td>
                    <td>{{e.name}}</a></td>
                    <td>{{e.email_id}}</td>
                    <td>{{e.contact_no}}</td>
                    <td><a href="/edit/{{e.employee_code}}"><i class="fa fa-pencil"
                                title="Edit Employee Details Here"></i></a></td>
                    <td><a href="/delete/{{e.employee_code}}"><i class="fa fa-trash fa-md text-danger"
                                title="Delete Employee Details"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>