<html>

<head>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <script src="/static/assets/script/jquery.min.js"></script>
    <script src="/static/assets/script/popper.min.js"></script>
    <script src="/static/assets/script/bootstrap.min.js"></script>
</head>

<body>
    <div class="row  bg-info">
        <div class="col-md-8">
            <h2 style="color:white;">Employee Management System</h2>
        </div>
        <div class="col-md-4 d-flex justify-content-end ">
            <a class="nav-link" style="color:white;" title="Home Page" href="/">HOME</a>
        </div>
    </div>
    <div class="container" style="width:55%; background-color: #c0e5f1;margin-top: 90px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" title="Upload file here" name="excel_file">
                <div class="mt-3">
                    <button type="submit" title="submit uploaded file" class="btn btn-primary">Submit</button>
                </div>
            </form>
            {% for row in excel_data %} {% for cell in row %} {{ cell }}&nbsp;&nbsp; {% endfor %}
            <br> {% endfor %}
   
        <script>
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        </script>
    </div>
</body>

</html>